body {
    box-sizing: border-box;
    background: lightblue;
    font-size: 20px;
}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    border: 1px solid green;
    height: 200px;
    width: 200px;
    
}
.crystal:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

h1 {
    font-family: verdana;
    color: green;
    border: 1px blue solid;
    text-align: center;
    background:orange;
    padding: 30px;
    
}

img {
    width: 50px;
}

#box {
    text-align: center;
    width: auto;
    height: 200px;
    border: 1px blue solid;
    background: orange;
}


/*Intro Div*/

#intro {
    width: auto;
    height: 200px;
    background: yellow;
    border: 1px solid purple;
}
h2{
    text-align: center;
}
li {
    margin-left: 40px;
}


